/* 
	Global classes 
					*/
body {
	background-image: url("images/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
}


#screen {
	height: 530px;
	width: 300px;
	margin: 105px 23px;

}

.head-bar {
	background-color: #1E90FF;
	color: white;
	height: 530px;
	width: 300px;
	text-shadow: 1px 1px black;
	text-align: center;
	
}

.songs-head-bar {
	background-color: #1E90FF;
	color: white;
	height: 45px;
	width: 300px;
}

.back-button {
	width: 50px;
	height: 30px;
	font-size: 50px;
	text-align: center;
	line-height: 36px;
	/* Relative positioning with respect to the songs-head-bar */
	position: relative;
	top: 6px;
	left:10px;
}

/* 
	a links
	makes the link black without underline
			*/

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

/* 
	Albums 
			*/
.album-wrapper {
	width: 150px;
	height: 200px;
	padding-top: 15px;
	padding-bottom: 10px;
	text-align: center;
	display: inline-block;
	
}

.album-position {
	position: relative;
	left: 150px;
	bottom: 450px;
}


.albums-album-art {
	width:140px;
	height:140px;
	margin: 0px;
}

.albums-album-name {
	height: 30px;
	width: 150px;
	font-size: 20px;
	font-weight: bold;
	margin: 0px;
}

.albums-artist-name {
	height: 20px;
	width: 150px;
	font-size: 13px;
	margin: 0px;
}

/* 
	Songs 
			*/
.songs-info-wrapper {
	display: inline-block;
	position: relative;
	top: -20px;
	
}

.songs-album-art {	
	width:160px;
	height:160px;
	padding-top: 10px;
	padding-left: 8px;	
}

.songs-album-name {
	font-size: 25px;
	font-weight: bold;

}

.songs-artist-name {
	font-size: 18px;
	text-align: left;
}

.songs-text-info {
	position: relative;
	top: -15px;
}

.songs-album-year {
	font-size: 16px;
}

.songs-list {
	border-style:solid;
	border-color:grey;
	border-width: thin;
	width:250px;
	height:20px;
	padding-top: 2px;
	padding-left: 3px;
	margin-bottom: 3px;
}

/* 
	Player 
			*/
.player-art-wrapper {
	width: 300px;
	height: 240px;
	text-align: center;
	padding-top: 30px;
	
	margin: 0px;
} 
.player-album-art {
	width: 240px;
	height: 240px;
	text-align: center;

}

.player-text-info {
	width: 300px;
	height: 60px;
	text-align: center;	
}
.player-song-info {
	font-size: 22px;
	margin-top: 11px;
	margin-bottom: 0px;
	color: grey;
}

#player-album-name {
	font-size: 18px;
	margin-top: 2px;
	margin-bottom: 0px;
	color: #e6ccff;
}

.volume-display {
	width: 300px;
	height: 50px;
	text-align: center;

}
.volume-bars {
	display: inline-flex;
	vertical-align: 9px;

}

.volume-level {
	width: 24px;
	height: 6px;
	background-color: white;
	border-style:solid;
	border-width: 1px;
	margin-right: 6px

	

}

.volume-rocker {
	width: 100px;
	height: 15px;
	margin-left: 18px;
	margin-right: 18px;
	font-size: 20px;
	line-height: 10px;

}

.player-controls{
	width: 300px;
	height: 40px;
	text-align: center;
	
	
}

#player-time {
	width: 300px;
	height: 20px;
	text-align: center;
	font-size: 13px;
}

.slider{
	width: 240px;


}

#time-info{
	width: 300px;
	height: 20px;
	font-size: 13px;
}

#time-elapsed {
	display: inline;
	margin-left: 25px;
}

#time-total{
	display: inline;
	padding-left: 195px;
}