body {
	background-image: url("images/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
}

#screen {
	height: 530px;
		width: 300px;
		margin: 105px 31px;
		background-color: white;
}

.head-bar {
	height: 50px;
	width: 300px;
	background-color: #6F2177;
	text-align: center;
}

.page-title {
	color: white;
	font-size: 24px;
	padding-top: 13px;
}

#nu_logo {

	width: 200px;
	left: 50px;
	top: 40px;
	padding-top: 5px;
}

.user_login {
	position: relative;
	margin-top: 60px;
	margin-left: 20px;
}
.linked-registry {
	margin-left:10px;
	margin-top: -20px;
	margin-right: 50px;
	width: 200px;
}

.cancel-done-buttons {
	position: absolute;
	margin-left: 20px;
	top:580px;
	color:white;
	background-color: white;
}
.cancel-done-buttons a
{
	color:white;
}
.button {
	width: 120px;
	height: 32px;
	line-height: 32px;
	border-radius: 2px;
	font-size: 0.9em;

}

#done-button {
	margin-left: 20px;
	width: 120px;
	height: 32px;
	background-color: #6F2177;
	color: white;
}

#cancel-button {
	width: 120px;
	height: 32px;
}

#card-icon {
width: 130px;
	position: relative;
	left: 80px;
	top: 50px;
}

.linking{
	display: inline-flex;
	width:300px;
	height: 50px;
	margin-top: 70px;
	margin-left: 15px;
}

#linking-button {
	background-color: #6F2177;
	margin-top: 5px;
}


.card-details{
	position: relative;
		margin-top: 60px;
		margin-left: 20px;
	}

	.personal_info {
		position: relative;
		margin-top: 60px;
		margin-left: 20px;
	}
