/*
	Global classes
					*/
body {
	background-image: url("images/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
	box-sizing: inherit;
	box-sizing: border-box;
}


#screen {
	height: 530px;
	width: 300px;
	margin-top: 105px;
	margin-left: 23px;
	background-color: white;
	color: gray;
}

#screen-2 {
	height: 530px;
	width: 300px;
	margin-top: 105px;
	margin-left: 31px;
	background-color: white;
	color: gray;
}

.head-bar-nu {
	text-align: center;
	background-color: purple;
	color: white;
	width: 300px;
	height: 45px;
}
.add-button
{
	width:15px;
	height:15px;
	display: inline;
}
.head-bar-nu h1{
	font-size: 24px;
	font-family: Avenir, sans-serif;
	font-weight: normal;
	padding-top: 8px;
}

.head-bar-nu h2{
	font-size: 24px;
	font-family: Avenir, sans-serif;
	font-weight: normal;
	display: inline;
	text-align: center;
}

.action-button-right {
	text-align: right;
	background-color: black;
}

.application
{
	height:440px;
	width:300px;
}
.application img
{
	padding-top: 15px;
	height:150;
	width:200;
	margin-bottom: 10px;
}
.applicationPay
{
	height:440px;
	width:300px;
}
.applicationPay p1
{
	font-size: 35px;
	font-family: Avenir, sans-serif;
	margin-left: 100px;
	padding-top:10px;
}
.applicationPay p2
{
	font-size:17px;
}
.applicationPay img
{
	padding-top:30px;
	height:150;
	width:200;
	margin-bottom:10px;
	margin-left: 50px;
}
.cardPic
{
	padding-top:30px;
	height:150;
	width:200;
	margin-bottom:10px;
	margin-left: 50px;
}
.budget-type
{
	font-size:23px;
	text-align: center;
	margin-top: 0px;
}
.card-images
{
	text-align: center;
	font-size: 24px;
}
.progress-bar
{
	height:80px;

}
.progress-total
{
	background-color: #CCCCCC;
	width:70%;
	margin-left: 45px;
	height:16px;
}
#progress-sofar
{
	background-color:#00E065;
	height:16px;
	width:40px;
}
#progress-tomake
{
	background-color:#FF8000;
	height:16px;
	width:54px;
}

.zero{
	width:11px;
	float:left;
}

.total-budget{
	float:right;
}

#warning
{
	position: absolute;
	text-align: center;
	top: 230px;
	margin-top:230px;
}

.touchID
{
	height:90px;
	width:108px;
	position:absolute;
	left:125px;
	top:400px;
}

#cancel-button{
	margin-left: 60px;
}

.confirm-button{
	margin-left:70px;
}

.spendings{
	position: inline;
	align: inline-flex;
	height:30px
}

#cards-list{

	width: 160px;
	height:120px;
	margin-left: 70px;
	margin-top: 0px;
}
#cards-list ul{
	margin-right: 16px;
	height:180px;
	padding-bottom: 40px;
}

#cards-list li
{
	margin-right:16px;
	height:170px;
	padding-right: 64px;
	border: 1px black solid;
	background-color:lightgray;
	margin-top:8px;
	margin-bottom:20px;
	width:140px;
	padding-top:0px;
}
.card-images img
{
	height: 90px;
	width:120px;
}
.bottom-bar {
	text-align: center;
	width: 300px;
	height:45px;
	color:white;
	margin-top:0px;
	position: absolute;
	top: 593px;
	left:31px;
	display: inline-flex;
}

.cancel-done-buttons {
	position: absolute;
	top:530px;
	left:0px;
}

.cancel-done-buttons a
{
	color:white;
}

#done-button {
	width: 120px;
	height: 32px;
	background-color: #6F2177;
	color: white;
}

#cancel-button {
	width: 120px;
	height: 32px;
}
#cancel-button2
{
	height:32px;
	margin-left: 85px;
	width:200px;
}

.bottom-bar-button1 {
	height:45px;
	width: 60px;
	float:left;
	padding-left:4px;
	margin: 0px;
	border:none;
	border-top:1px;
	border-color:black;
	background-color:#F2F2F2;
}

.bottom-bar-button2{
	height:45px;
	width: 60px;
	float:left;
	padding-left:8px;
	margin: 0px;
	border: none;
	background-color:#F2F2F2;
}

.bottom-bar-button3
{
	height:45px;
	width: 60px;
	float:left;
	padding-left:14px;
	margin: 0px;
	border: none;
	background-color:#F2F2F2;
}

.bottom-bar-button4{
	height:45px;
	width: 60px;
	float:left;
	padding-left: 4px;
	margin: 0px;
	border:none;
	background-color:#F2F2F2;
}

.bottom-bar-button5{
	height:45px;
	width: 60px;
	float:left;
	padding-left:4px;
	margin: 0px;
	border:none;
	background-color:#F2F2F2;
}

.back-arrow {
	position: absolute;
	left: 30px;
	margin-top: 12px;
	height: 20px;
	display: inline-flex;
	color: white;
	float: left;
}

.back-arrow-text {
	margin-top: 3px;
	margin-left: -6px;
	font-family: Avenir, sans-serif;
	font-weight: normal;
}

.back-button {
	height:45;
	background-color: inherit;
	border-color: inherit;
	color: black;
	padding-right:250px;
}

.back-button img
{
	padding-top: 2px;
	height:36px;
	width: 36px;
}

.budget-title {
	font-size: 22px;
	text-align: center;
	margin-top: 35px;
	margin-bottom: 35px;
	font-style: underline;
	font-family: Avenir, sans-serif;
}

.budget-stat-list{
	/* text-align: left; */
	width: 80%;
	margin-left: 30;
	margin-top: 5;
}

.stat-list-item{
	text-decoration: underline;
	padding-bottom: 5px;
	margin-bottom: 25px;
	font-family: Avenir, sans-serif;
	font-size: 14px;
}

.stat-list-name{
	float: left;
}

.stat-list-data{
	float: right;
}

.smaller-text {
	font-size: 14px;
}

.stat-list-tendency{
	color: #00CC33;
}


.hr-line {
	margin-bottom: 15px;
	height: 1px;
	background-color: lightgray;
}

#progress-groceries {
	background-color: #00E065;
	height:16px;
	width:84px;
}

.upper-screen {
	height:440px;
	width:300px;
}

.upper-screen p1 {
	font-size: 35px;
	font-family: Avenir, sans-serif;
	margin-left: 100px;
	padding-top:10px;
}

.upper-screen p2 {
	font-size:17px;
}


.total-budget-title {
	font-size: 22px;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 15px;
	font-style: underline;
	font-family: Avenir, sans-serif;
}

.top-progress-bar {
	height:80px;
	width: 285px;
	margin-bottom: -20px;
}

.top-progress-total
{
	background-color: #CCCCCC;
	margin-left: 15px;
	height:16px;
}

#total-progress-groceries {
	background-color: #00E065;
	height:16px;
	width:25%;
	margin-bottom: 0px;
}

.item-budget-title {
	font-size: 22px;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	font-style: underline;
	font-family: Avenir, sans-serif;
}

.main-progress-bar {
	height:80px;
	margin-bottom: -29px;
}

#progress-fast-food {
	background-color: #FF6600;
	height:16px;
	width:15%;

}

#progress-education {
	background-color: #FFCC00;
	height:16px;
	width:53%;

}

#progress-entertainement {
	background-color: #5856D6;
	height:16px;
	width:8%;

}
#sub-progress-groceries {
	background-color: rgb(0, 122, 255);
	height:16px;
	width:17%;
}
.progress-link {
	color: #7D7D7D;
	text-decoration: none;
	font-family: Avenir, sans-serif;
}

.icon-changer {
	color:#666666;
}

.category {
	padding-top: 10px;
	border-style: solid;
	border-color:#CCCCCC;
	border-left: none;
	border-right: none;
	border-bottom: none;
	border-width: .05px;
}
.add-button {
	position: absolute;
	left: 295px;
	top: 120px;
	font-family: Avenir, sans-serif;
	font-size:15px;
	color:white;
	font-weight: normal;
}

#total-money-spent{
	margin-left: 53px;
	margin-bottom: 8px;
	margin-top:8.5px;
	font-size: 28px;
	display: inline-block;
	font-family: Avenir, sans-serif;
}

#money-spent{
	font-size: 28px;
	position: absolute;
	top:203px;
	left:180px;
	display: inline-block;
	font-family: Avenir, sans-serif;
}

.transaction-card {
	font-family: Avenir, sans-serif;
	font-size:20px;
	display: inline-block;
	text-align: left;
	margin-left: 15px;
	margin-bottom: 0px;
}

.transaction-date {
	font-family: Avenir, sans-serif;
	font-size:15px;
	text-align: right;
	margin-right:10px;
	text-align: top;
	display: inline-block;
	float:right;
	float:top;
}

.transaction-location {
	font-family: Avenir, sans-serif;
	font-size:15px;
	text-align: left;
	margin-left: 35px;
	margin-bottom: 0px;
	margin-right: 0px;
	padding-right: 0px;
}

.transaction-amount {
	font-family: Avenir, sans-serif;
	font-size:20px;
	display:inline-block;
	float: right;
	margin-right: 15px;
}

.transaction-category {
	padding-top: 10px;
	border-style: solid;
	border-color:#CCCCCC;
	border-left: none;
	border-right: none;
	border-bottom: none;
	border-width: .05px;
}

.transaction-header {
	font-size: 18px;
	font-family: Avenir, sans-serif;
	margin-left:70px;
	margin-bottom: 8px;
	margin-top:8px;
}

.account-info {
	width: 280px;
	height: 60px;
	margin-top: 10px;
	margin-left: 10px;
	border-style: solid;
	border-color:#CCCCCC;
	border-width: .05px;
	padding-top: 10px;
}

#bank-search-us-bank{
	width: 70px;
	margin-left: 111px;
	margin-top: -9px;

}

#bank-search-wells{
	width: 70px;
	margin-left: 80px;
	margin-top: -9px;

}

#bank-search-chase{
	width: 70px;
	margin-left: 80px;
	margin-top: -3px;

}
.account-number
{
	font-family: Avenir, sans-serif;
	font-size:17px;
	position: relative;
	left: 20px;
}

.account-number-chase
{
	font-family: Avenir, sans-serif;
	font-size:17px;
	margin-left: 20px;
	position: relative;
	top: 10px;
}

.tell-balance{
	font-family: Avenir, sans-serif;
	font-size:17px;
	margin-left: 54px;

}

.tell-balance-chase{
	font-family: Avenir, sans-serif;
	font-size:17px;
	margin-left: 34px;
	position: relative;
	top: 10px;

}
#account-balance
{
	font-family: Avenir, sans-serif;
	font-size: 20px;
	margin-left: 10px;
}

#account-balance-chase
{
	font-family: Avenir, sans-serif;
	font-size: 20px;
	margin-left: 10px;
	position: relative;
	top: 10px;
}

#fix-link {
	text-decoration: none;
	font-weight: normal;
	color: #7D7D7D;
}

.account-title {
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 15px;
	font-family: Avenir, sans-serif;
}

.account-info-header {
	height: 110px;
}

.account-transaction-card {
	font-family: Avenir, sans-serif;
	font-size:20px;
	display: inline-block;
	text-align: left;
	margin-left: 15px;
	margin-bottom: 0px;
}

.account-transaction-date {
	font-family: Avenir, sans-serif;
	font-size:15px;
	text-align: right;
	margin-right:10px;
	text-align: top;
	display: inline-block;
	float:right;
	float:top;
}

.account-transaction-location {
	font-family: Avenir, sans-serif;
	font-size:15px;
	text-align: left;
	margin-left: 35px;
	margin-bottom: 0px;
	margin-right: 0px;
	padding-right: 0px;
}

.account-transaction-amount {
	font-family: Avenir, sans-serif;
	font-size:20px;
	display:inline-block;
	float: right;
	margin-right: 15px;
}

.account-transaction-category {

	padding-top: 10px;
	border-style: solid;
	border-color:#CCCCCC;
	border-left: none;
	border-right: none;
	border-bottom: none;
	border-width: .05px;
}

#available-balance-amount{
	font-size: 28px;
	position: relative;
	top:10px;
	left:165px;
	font-family: Avenir, sans-serif;
}

#available-balance-text{
	position: relative;
	top:35px;
	left: 25px;
	font-size: 17px;
	font-family: Avenir, sans-serif;
}

#account-number-text{
	font-size: 14px;
	position: absolute;
	top:260px;
	left: 45px;
	font-family: Avenir, sans-serif;
}

#account-number-data{
	font-size: 14px;
	position: absolute;
	top:260px;
	left: 250px;
	font-family: Avenir, sans-serif;
}

#routing-number-text{
	font-size: 14px;
	position: absolute;
	top:280px;
	left: 45px;
	font-family: Avenir, sans-serif;
}

#routing-number-data{
	font-size: 14px;
	position: absolute;
	top:280px;
	left: 250px;
	font-family: Avenir, sans-serif;
}
